// Baseline grid ===============================================================
// Material design 4sp/px baseline, with our 16sp/px default line-height
// - Link: http://bit.ly/2lYjdkt
// - Background gradient: http://bit.ly/2mXP9ux and http://bit.ly/2miADKA
// - Baseline/line-height theory: http://bit.ly/2mq7VJj
//   - We're fudging our `$align` as it's difficult to achieve with gradients
//   - If you need something more specific, roll your own :)

baseline-grid($align = false)
  background: linear-gradient(
    to bottom,
    red,
    red 1px,
    transparent 1px,
    transparent
  ),
  linear-gradient(
    to bottom,
    alpha(#000, 20%),
    alpha(#000, 20%) 1px,
    transparent 1px,
    transparent
  )
  background-size: auto unit((24 / 16), 'rem'), auto (unit((16 / 16), 'rem') / 4)

  if $align == true
    padding-top: unit(((24 - 1) / 16), 'rem')
