// Baseline grid ===============================================================
// Material design `4sp/px` baseline, with our `16sp/px` default line-height
// - Link: http://bit.ly/2lYjdkt
// - Background gradient: http://bit.ly/2mXP9ux and http://bit.ly/2miADKA
// - Theory: http://bit.ly/2mnBSri
// - This method isn't pixel perfect. You can fudge this with
//   `padding-top: unit((24 - 1 / 16)), 'rem')`

baseline-grid()
  background: linear-gradient(
    to bottom,
    red,
    red 1px,
    transparent 1px,
    transparent
  ),
  linear-gradient(
    to bottom,
    alpha(#000, 20%),
    alpha(#000, 20%) 1px,
    transparent 1px,
    transparent
  )
  background-size: auto unit((24 / 16), 'rem'), auto (unit((16 / 16), 'rem') / 4)
