button($button-color = $root.text.color, $flat = false)
  body-button($button-color)

  display: inline-block
  margin: $spacing.quarter
  padding: $spacing.half
  min-width: $spacing.four
  text-align: center
  vertical-align: middle
  white-space: nowrap
  text-decoration: none
  cursor: pointer
  border: 0 none
  border-radius: $border.radius

  // Button states =============================================================

  if $flat
    background-color: $color.l

    &:hover
      background-color: $color.lll
    &:active
      background-color: $color.llll
  else
    background-color: $color.lll
    box-shadow: 0 1px 3px alpha(#000, 12%), 0 1px 2px alpha(#000, 24%)

    &:hover
      background-color: $color.lll
    &:active
      background-color: $color.llll
      box-shadow: 0 3px 6px alpha(#000, 16%), 0 3px 6px alpha(#000, 23%)

  &:active:focus
    outline: 0 none
  &:disabled
    color: $color.bb
    cursor: not-allowed
    pointer-events: none
    box-shadow: none
    text-shadow: none
