// Typographic styles ==========================================================
// - As we'll likely reuse the sizing, leading, tracking it's good to
//   set up some named mixins, rather than adding them as hashes
// - The mixin assumes `font-family` is global

typography-settings(
  $font-family = $font.family.base,
  $font-weight = normal,
  $font-size = $font.size.base,
  $font-color = $root.text.color,
  $line-height = $line.height.base,
  $text-transform = none,
  $letter-spacing = normal,
  $margin-bottom = $spacing.base
)
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  color: $font-color
  line-height: $line-height
  text-transform: $text-transform
  letter-spacing: $letter-spacing
  margin-bottom: $margin-bottom


display-4($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pppppp,
    $font-color,
    $line.height.pppppp
  )


display-3($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.ppppp,
    $font-color,
    $line.height.ppppp,
    $margin-bottom: ($spacing.two + $spacing.quarter)
  )


display-2($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pppp,
    $font-color,
    $line.height.pppp
  )


display-1($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.ppp,
    $font-color,
    $line.height.ppp,
    $margin-bottom: $spacing.two
  )


headline($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pp,
    $font-color,
    $line.height.pp,
    $margin-bottom: $spacing.one
  )


title($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    700,
    $font.size.p,
    $font-color,
    $line.height.base,
    $margin-bottom: ($spacing.one + $spacing.micro)
  )


subheading-1($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.base,
    $font-color,
    $line.height.pppp,
    $margin-bottom: 0
  )


subheading-2($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.base,
    $font-color,
    $line.height.base,
    $margin-bottom: 0
  )


body-2($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    700,
    $font.size.m,
    $font-color,
    $line.height.m,
  )


body-1($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.m,
    $font-color,
    $line.height.m
  )


body-button($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    700,
    $font.size.m,
    $font-color,
    $line.height.m,
    uppercase
  )


caption($font-color = $root.text.color)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.mm,
    $font-color,
    $line.height.base
  )
