// Typographic styles ==========================================================
// - We'll be using these a lot, so it's best to use mixin rather than hashes
// - != 'Arial' has a different x-height to 'Noto Sans', so the mixin is
//   font agnostic. `$font.family.base` is global, so if you reset the
//   `font-family`, you'll have to alter your margins (and possibly set your
//   p, ul etc to `body-1()`)

typography-settings(
  $font-family = $font.family.base,
  $font-weight = normal,
  $font-size = $font.size.base,
  $font-color = $root.text.color,
  $line-height = $line.height.base,
  $text-transform = none,
  $letter-spacing = normal,
  $margin-bottom = 0
)
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  color: $font-color
  line-height: $line-height
  text-transform: $text-transform
  letter-spacing: $letter-spacing
  margin-bottom: $margin-bottom


display-4($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pppppp,
    $font-color,
    $line.height.pppppp,
    $margin-bottom: $margin-bottom
  )


display-3($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.ppppp,
    $font-color,
    $line.height.ppppp,
    $margin-bottom: $margin-bottom
  )


display-2($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pppp,
    $font-color,
    $line.height.pppp,
    $margin-bottom: $margin-bottom
  )


display-1($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.ppp,
    $font-color,
    $line.height.ppp,
    $margin-bottom: $margin-bottom
  )


headline($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.pp,
    $font-color,
    $line.height.pp,
    $margin-bottom: $margin-bottom
  )


title($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    700,
    $font.size.p,
    $font-color,
    $line.height.base,
    $margin-bottom: $margin-bottom
  )


subheading-1($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.base,
    $font-color,
    $line.height.pppp,
    $margin-bottom: $margin-bottom
  )


subheading-2($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.base,
    $font-color,
    $line.height.base,
    $margin-bottom: $margin-bottom
  )


body-2($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    700,
    $font.size.m,
    $font-color,
    $line.height.m,
    $margin-bottom: $margin-bottom
  )


body-1($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.m,
    $font-color,
    $line.height.m,
    $margin-bottom: $margin-bottom
  )


body-button($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    700,
    $font.size.m,
    $font-color,
    $line.height.m,
    uppercase,
    $margin-bottom: $margin-bottom
  )


caption($font-color = $root.text.color, $margin-bottom = 0)
  typography-settings(
    $font.family.base,
    normal,
    $font.size.mm,
    $font-color,
    $line.height.base,
    $margin-bottom: $margin-bottom
  )
