// -----------------------------------------------------------------------------
// Spacing variables
// =============================================================================
// > See `.gl-baseline-grid` for alignment options
//
// Spacing is calculated in `rem` units (whereas `line-height` is unitless).
// They can be used for `margin` and `padding`, and perhaps sizing elements,
// although that should be few and far between. See eBooks and PDFs for some
// good ideas of how to best style content.
//
// All spacing values should be divisible by `2dp`, `4dp` or `8dp` (`16dp` base unit)
//
// Notes
// -----
// 1. `--variables` can be called before they're declared:
//     - @ https://tinyurl.com/5zf48jsd
// 2. The default spacing unit is `1.5rem` (`line-height` is unitless)
//
// ⚠️ Moving on from Material Design
// ---------------------------------
// > Material was a large design system for web apps.
// > Our requirements are quite different!
//
// We can have a sensible spacing system (with suggestions for grids) and work
// towards a print-based layout. There shouldn't be much more than a handful of
// `--spacing` variables needed. We can suggest a `2dp` or `4dp` baseline, with
// a `16dp` base unit.
//
// - Child themes can pick up the slack and extend them.
// - Spacing increment should perhaps be left up to the child theme.
//
// Bugs
// ----
// 1. `display: inline` can break the `4dp` baseline grid.
//    - @ https://github.com/badlydrawnrob/print-first-css/issues/96

--spacing-increment: calc(var(--spacing-two) * 1rem);

--spacing-pppppppp:  128 / 16;  // 8
--spacing-ppppppp:   112 / 16;  // 7
--spacing-pppppp:     96 / 16;  // 6
--spacing-ppppp:      80 / 16;  // 5
--spacing-pppp:       64 / 16;  // 4
--spacing-ppp:        48 / 16;  // 3
--spacing-pp:         32 / 16;  // 2
--spacing-p:          24 / 16;  // 1.5
--spacing-base:       16 / 16;  // 1
--spacing-m:          12 / 16;  // 0.75
--spacing-mm:          8 / 16;  // 0.5
--spacing-mmm:         4 / 16;  // 0.25
--spacing-mmmm:        2 / 16;  // 0.125
--spacing-mmmmm:       1 / 16;  // 0.0625

--spacing-eight:          calc(var(--spacing-pppppppp) * 1rem);
--spacing-seven:          calc(var(--spacing-ppppppp) * 1rem);
--spacing-six:            calc(var(--spacing-pppppp) * 1rem);
--spacing-five:            calc(var(--spacing-ppppp) * 1rem);
--spacing-four:           calc(var(--spacing-pppp) * 1rem);
--spacing-three:          calc(var(--spacing-ppp) * 1rem);
--spacing-two:            calc(var(--spacing-pp) * 1rem);
--spacing:                calc(var(--spacing-p) * 1rem);
--spacing-one:            calc(var(--spacing-base) * 1rem);
--spacing-three-quarters: calc(var(--spacing-m) * 1rem);
--spacing-half:           calc(var(--spacing-mm) * 1rem);
--spacing-quarter:        calc(var(--spacing-mmm) * 1rem);
--spacing-micro:          calc(var(--spacing-mmmm) * 1rem);
--spacing-px:             calc(var(--spacing-mmmmm) * 1rem);
