// Headings ====================================================================
// - We shouldn't use !import, but we're globbing files.
// - If you're using ECSS this should be fine.
// - See `variables/default.styl` for typography notes

h1
  margin-bottom: $spacing.three
  font-weight: normal
  font-size: $font.size.pppp
  line-height: $line.height.one
  text-transform: none
  letter-spacing: $font.tracking.base

h2
  margin-bottom: ($spacing.two - $spacing.quarter)
  font-weight: normal
  font-size: $font.size.ppp
  line-height: $line.height.one
  text-transform: none
  letter-spacing: normal

h3
  margin-bottom: ($spacing.one + $spacing.quarter)
  font-weight: normal
  font-size: $font.size.pp
  line-height: ($line.height.one + $line.height.quarter)
  text-transform: none
  letter-spacing: normal

h4
  margin-bottom: $spacing.base
  font-weight: 700
  font-size: $font.size.p
  line-height: $line.height.one
  text-transform: none
  letter-spacing: $font.tracking.pp

h5
  margin-bottom: 0
  font-weight: 700
  font-size: $font.size.base
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal

h6
  margin-bottom: 0
  font-weight: 700
  font-size: $font.size.base
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal
