// =============================================
// Base: Colours
// =============================================

$root = {
  background: {
    color: $default-color-white
  }
  text: {
    color: $default-color-black
  }
}

$anchor = {
  text: {
    color: blue
  }
}

$print = {
  text: {
    color: $default-color-black
  }
}

// Default colours =============================

$color = {
  black: $default-color-black,
  gray: {
    darkest: $default-color-gray-darkest,
    darker: $default-color-gray-darker,
    dark: $default-color-gray-dark,
    base: $default-color-gray,
    light: $default-color-gray-light,
    lighter: $default-color-gray-lighter,
    lightest: $default-color-gray-lightest
  },
  white: $default-color-white
}

// Horizontal rules ============================

$hr = {
  border: {
    width: 2px,
    style: dotted,
    color: $default-color-gray
  }
}
