// -----------------------------------------------------------------------------
// Images
// =============================================================================
// 1. `display: inline` breaks the `.gl-baseline-grid` (the half-px problem)
//     - @ https://stackoverflow.com/a/79709519/838046
// 2. Visually offset `alt` text
// 3. Make all images responsive
// 4. Remove gap: http://cbrac.co/Q6smqV

img {
  display: block;          // (1)
  font-style: italic;      // (2)
  max-width: 100%;         // (3)
  vertical-align: middle;  // (4)

}

figure {
  // pass
}

figcaption {
  margin-top: var(--spacing);
  font-style: italic;

  > img {
    display: block;
  }
}
