// -----------------------------------------------------------------------------
// Images
// =============================================================================
// 1. Visually offset `alt` text
// 2. Remove gap: http://cbrac.co/Q6smqV
// 3. Make all images responsive

img {
  font-style: italic;      // (1)
  vertical-align: middle;  // (2)
  max-width: 100%;         // (3)
}

figure {
  // pass
}

figcaption {
  margin-top: var(--spacing);
  font-style: italic;

  > img {
    display: block;
  }
}
