// -----------------------------------------------------------------------------
// Media
// =============================================================================
// 1. Remove gap: http://cbrac.co/Q6smqV

audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle;  // (1)
}

audio,
canvas,
video {
  width: 100%;
  height: auto;
}
