// Colors =================
// Pallettes for this particular theme. There are none!!!
// We're setting up styles for `Skylighting` inheritance,
// but using the very basic `monochrome` theme for Print.
//
// Notes on naming conventions:
// ----------------------------
// I think it's fair to say that having a light and dark pallette is going
// to be accross the board (interchangeable) but some themes may need more
// shades, some less. Might it be wise to have custom `--color` pallettes
// for each child theme?
//
// Visual Studio Code plugin for colors
// ------------------------------------
// Quickly viewing colors: @ http://tinyurl.com/visual-studio-code-colorize
//
// - If, for instance, I decide I need a mid-tone gray, I'd have to rename or
//   reorder all the `--color-b` styles anyway. In Anki we need more (or at
//   least different) shades.
//
// #!: Should these `--color` styles be here? Dump them?
//     Strip back to the essentials wherever possible.
//
// #1: Used mostly for font colours
// #2: Occasionally used for backgrounds

// #1
--color-bbbb: #000;
--color-bbb: #333;
--color-bb: #ccc;
--color-b: #f9f9f9;

// #2
--color-l: #ccc;
--color-ll: #ddd;
--color-lll: #f1f1f1;
--color-llll: #fff;
