// Spacing, margins and padding ================================================
// - Base is `1.5rem` (24/16)

$spacing = {
  base: unit($default-spacing ,'rem'),

  eight: unit($default-spacing-ppppppp, 'rem'),
  seven: unit($default-spacing-pppppp, 'rem'),
  six: unit($default-spacing-ppppp, 'rem'),
  five: unit($default-spacing-pppp, 'rem'),
  four: unit($default-spacing-ppp, 'rem'),
  three: unit($default-spacing-pp, 'rem'),
  two: unit($default-spacing-p, 'rem'),
  one: unit($default-spacing-m, 'rem'),
  half: unit($default-spacing-mm, 'rem'),
  quarter: unit($default-spacing-mmm, 'rem'),
  micro: unit($default-spacing-mmmm, 'rem'),
  px: unit($default-spacing-mmmmm, 'rem'),
}
