/*!
 * == Print First CSS ==========================================================
 * MIT License | https://github.com/badlydrawnrob/print-first-css
 * == Heavily based on Cardinal CSS by @cbracco: http://bit.ly/2iDzOZi =========
 */

@import 'modules/variables/*'
@import 'modules/mixins/*'
@import 'partials/*'

@media all
  // Add both print styles and screen styles here

@media screen
  // Screen styles only
  @media screen and (min-width: 1024px)
    // And device styles inside
