// =============================================
// Base: Horizontal Rules
// =============================================

hr
  display: block
  padding: 0
  border: 0
  border-top: $hr.border.width $hr.border.style $hr.border.color
