$btn = {
  margin: $default-spacing-mmm,
  padding: $default-spacing-mm,
  border: {
    radius: $default-border-radius
  },
  font: {
    family: $default-font-family-sans-serif,
    weight: 700,
    size: $default-font-size-m
  },
  line: {
    height: $default-line-height-m
  },
  text: {
    color: $default-color-gray-darker
  },
  background: {
    color: $default-color-gray-light
  },

  primary: {
    text: {
      color: #fff
    },
    background: {
      color: $default-color-gray-dark
    }
  }
}
