// Notes =======================================================================
// See: `defaults.styl` for theme info

$root = {
  text: {
    color: $default-color-bbbb
  }
}

$anchor = {
  text: {
    color: blue
  }
}


// Default colours =============================================================

$color = {
  bbbb: $default-color-bbbb,
  bbb: $default-color-bbb,
  bb: $default-color-bb,
  b: $default-color-b,

  wwww: $default-color-wwww,
  www: $default-color-www,
  ww: $default-color-ww,
  w: $default-color-w,

  dddd: $default-color-dddd,
  ddd: $default-color-ddd,
  dd: $default-color-dd,
  d: $default-color-d,

  llll: $default-color-llll,
  lll: $default-color-lll,
  ll: $default-color-ll,
  l: $default-color-l,

}
