$root = {
  background: {
    color: #fff
  }
  text: {
    color: $default-color-dddd
  }
}

$anchor = {
  text: {
    color: blue
  }
}

$print = {
  text: {
    color: #000
  }
}


// Default colours =============================================================

$color = {
  dddd: $default-color-dddd,
  ddd: $default-color-ddd,
  dd: $default-color-dd,
  d: $default-color-d,

  l: $default-color-l,
  ll: $default-color-ll,
  lll: $default-color-lll,
  llll: $default-color-llll
}

// Horizontal rules ============================================================

$hr = {
  border: {
    width: $default-spacing-mmmmm,
    style: dotted,
    color: $default-color-d
  }
}
