// Notes: Hashes ===============================================================
// Source order matters. So we set some sensible `$default-` values to make
// them easier to override ...
// - Override the hashes, not the `$default-`s!
// - http://bit.ly/2jPk8qE


// Fonts =======================================================================
// #1 Set in `typography.styl`
//
// Material Design Typographic Scale: 12, 14, 16, 20, and 34
// - I strongly advise sticking to 16sp/px (1rem) as default html font-size.
//   Anything else makes life difficult. Our baseline-grid() uses 16sp/px..
//   - Add `$default-font-size-m` where necessary for Body 1, Body 2
//   - English and English-like scripts (Latin, Greek, and Cyrillic)
//   - Material typography: http://bit.ly/2j67oaR and http://bit.ly/2k7ygvG


$default-font-family = $arial // #1

$default-font-size-pppppp = unit((112 / 16), 'rem') // Display 4
$default-font-size-ppppp  = unit((56 / 16), 'rem')  // h1, Display 3
$default-font-size-pppp   = unit((45 / 16), 'rem')  // h2, Display 2
$default-font-size-ppp    = unit((34 / 16), 'rem')  // h3, Display 1
$default-font-size-pp     = unit((24 / 16), 'rem')  // h4, Headline
$default-font-size-p      = unit((20 / 16), 'rem')  // h5, Title
$default-font-size        = unit((16 / 16), 'rem')  // h6, Subheading
$default-font-size-m      = unit((14 / 16), 'rem')  // Body 1, Body 2, Button
$default-font-size-mm     = unit((12 / 16), 'rem')  // Caption

$default-line-height-pppppp = (24 / 16) // Display 4
$default-line-height-ppppp  = (24 / 16) // h1, Display 3
$default-line-height-pppp   = (48 / 45) // h2, Display 2
$default-line-height-ppp    = (40 / 34) // h3, Display 1
$default-line-height-pp     = (32 / 24) // h4, Headline
$default-line-height-p      = (28 / 16) // h6, Subheading 2
$default-line-height        = (24 / 16) // Subheading 1, Caption, Title
$default-line-height-m      = (24 / 14) // Body 2, Button
$default-line-height-mm     = (20 / 14) // Body 1


// Spacing =====================================================================
// - to preserve vertical rhythm, nudge elements by divisors of 4
//   - We also have a `-mmmmm` (2dp) which can be added to the others

$default-spacing-ppppppp = unit((128 / 16), 'rem') // 8rem
$default-spacing-pppppp  = unit((112 / 16), 'rem') // 7rem
$default-spacing-ppppp   = unit((96 / 16), 'rem')  // 6rem
$default-spacing-pppp    = unit((80 / 16), 'rem')  // 5rem
$default-spacing-ppp     = unit((64 / 16), 'rem')  // 4rem
$default-spacing-pp      = unit((48 / 16), 'rem')  // 3rem
$default-spacing-p       = unit((32 / 16), 'rem')  // 2rem
$default-spacing         = unit((24 / 16), 'rem')  // 1.5rem
$default-spacing-m       = unit((16 / 16), 'rem')  // 1rem
$default-spacing-mm      = unit((12 / 16), 'rem')  // 0.75rem
$default-spacing-mmm     = unit((8 / 16), 'rem')   // 0.5rem
$default-spacing-mmmm    = unit((4 / 16), 'rem')   // 0.25rem
$default-spacing-mmmmm   = unit((2 / 16), 'rem')   // 0.125rem

// Borders =====================================================================

$default-border-radius = $default-spacing-mmmm

// Colours =====================================================================
// Dark text: http://bit.ly/2kTT99J,
// Dark theme: http://bit.ly/2mfGAHv

$default-color-bbbb = alpha(#000, 87%) // Primary text
$default-color-bbb = alpha(#000, 54%)  // Secondary text, active icons
$default-color-bb = alpha(#000, 38%)   // Disabled text, hint text, icons
$default-color-b = alpha(#000, 12%)    // Dividers

$default-color-w = alpha(#fff, 100%)   // Primary text, active icons
$default-color-ww = alpha(#fff, 70%)   // Secondary text
$default-color-www = alpha(#fff, 50%)  // Disabled text, hint text, icons
$default-color-wwww = alpha(#fff, 12%) // Dividers

$default-color-llll = #e0e0e0 // Status bar
$default-color-lll = #f5f5f5  // App bar
$default-color-ll = #fafafa   // Background
$default-color-l = #fff       // Cards/diologs

$default-color-d = #000       // Status bar
$default-color-dd = #212121   // App bar
$default-color-ddd = #303030  // Background
$default-color-dddd = #424242 // Cards/diologs
