// Notes: Hashes ===============================================================
// Source order matters. So we set some sensible `$default-` values to make
// them easier to override ...
// - Override the hashes, not the `$default-`s!
//   - http://bit.ly/2jPk8qE


// Typography ==================================================================
// #!: Material Design Typographic Scale: 12, 14, 16, 20, and 34
//     - Docs: https://material.io/design/typography/
//     - Let's set body at `16sp/px`
//        - Material's default grid is `4sp/px` so it's nicely divisible by 4
//     - I won't be following their `H1 > H6` settings to the letter ...
//        - But we'll set up the typographic scale as-is

$default-font-size-pppppp = 96 / 16  // h1
$default-font-size-ppppp  = 60 / 16  // h2
$default-font-size-pppp   = 48 / 16  // h3
$default-font-size-ppp    = 34 / 16  // h4
$default-font-size-pp     = 24 / 16  // h5
$default-font-size-p      = 20 / 16  // h6
$default-font-size        = 16 / 16  // subtitle 1, body 1
$default-font-size-m      = 14 / 16  // subtitle 2, body 2, button
$default-font-size-mm     = 12 / 16  // caption
$default-font-size-mmm    = 10 / 16  // overline

// Tracking ====================================================================

$default-tracking-pppppp =  1.5  / 16  // overline
$default-tracking-ppppp  =  0.75 / 16  // button
$default-tracking-pppp   =  0.5  / 16  // body 1, caption
$default-tracking-ppp    =  0.25 / 16  // h4, body 2
$default-tracking-pp     =  0.15 / 16  // h6, subtitle 1
$default-tracking-p      =  0.1  / 16  // subtitle 2
$default-tracking        =  0    / 16  // h3, h5
$default-tracking-m      = -0.5  / 16  // h2
$default-tracking-mm     = -1.5  / 16  // h1


// Spacing & Line-height =======================================================
// - Understanding layout: https://bit.ly/2K9RBJl
// - Understanding typography: https://bit.ly/2lptiJH
//
// > "Regardless of pt / sp size, a text’s baseline must sit on the 4dp grid.
// >  Line-height must be a value divisible by 4 to maintain the grid."
//
// #!: Vertical rhythm: Nudge elements by multiples of 4!
//     - Use the hashes:
//        - `$spacing.base`,
//        - `$spacing.one` ...
//     - Mix and match if necessary:
//        - `$spacing.quarter + $spacing.half` = 12px

$default-spacing-ppppppp = 128 / 16 // 8rem, $spacing.eight
$default-spacing-pppppp  = 112 / 16 // 7rem, $spacing.seven
$default-spacing-ppppp   = 96 / 16  // 6rem, $spacing.six
$default-spacing-pppp    = 80 / 16  // 5rem, $spacing.five
$default-spacing-ppp     = 64 / 16  // 4rem, $spacing.four
$default-spacing-pp      = 48 / 16  // 3rem, $spacing.three
$default-spacing-p       = 32 / 16  // 2rem, $spacing.two
$default-spacing         = 24 / 16  // 1.5rem $spacing.base
$default-spacing-m       = 16 / 16  // 1rem, $spacing.one
$default-spacing-mm      =  8 / 16   // 0.5rem, $spacing.half
$default-spacing-mmm     =  4 / 16   // 0.25rem, $spacing.quarter
$default-spacing-mmmm    =  2 / 16   // 0.125rem, $spacing.micro
$default-spacing-mmmmm   =  1 / 16   // 0.0625rem, $spacing.px

// Borders =====================================================================

$default-border-radius = $default-spacing-mmmm

// Colours =====================================================================
// - Colors go from `x` (lightest) to `xxxx` (darkest)
// - Standard color themes:
//   - Dark text: http://bit.ly/2kTT99J,
//   - Dark theme: http://bit.ly/2mfGAHv
// - Add your own primary/secondary colors:
//   - $color['theme'] = { ... }

$default-color-bbbb = alpha(#000, 87%) // Primary text
$default-color-bbb = alpha(#000, 54%)  // Secondary text, active icons
$default-color-bb = alpha(#000, 38%)   // Disabled text, hint text, icons
$default-color-b = alpha(#000, 12%)    // Dividers

$default-color-wwww = alpha(#fff, 100%) // Primary text, active icons
$default-color-www = alpha(#fff, 70%)   // Secondary text
$default-color-ww = alpha(#fff, 50%)    // Disabled text, hint text, icons
$default-color-w = alpha(#fff, 12%)     // Dividers

$default-color-llll = #e0e0e0 // Status bar
$default-color-lll = #f5f5f5  // App bar
$default-color-ll = #fafafa   // Background
$default-color-l = #fff       // Cards/diologs

$default-color-dddd = #000    // Status bar
$default-color-ddd = #212121  // App bar
$default-color-dd = #303030   // Background
$default-color-d = #424242    // Cards/diologs
