// Basic grid variables ========================================================

$grid = {
  max: {
    width: 1024px
  }
}

$screen = {
  xs: 480px,
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px
}

// Spacing, margins and padding ================================================

$spacing = {
  base: $default-spacing,

  pppppp: $default-spacing-pppppp,
  ppppp: $default-spacing-ppppp
  pppp: $default-spacing-pppp,
  ppp: $default-spacing-ppp,
  pp: $default-spacing-pp,
  p: $default-spacing-p
  m: $default-spacing-m,
  mm: $default-spacing-mm,
  mmm: $default-spacing-mmm,
  mmmm: $default-spacing-mmmm,
}

// Borders =====================================================================

$border = {
  radius: $default-border-radius
}
