// Basic grid variables ========================================================

$grid = {
  max: {
    width: 1024px
  }
}

$screen = {
  xs: 480px,
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px
}

// Spacing, margins and padding ================================================

$spacing = {
  base: $default-spacing-base,
  double: $default-spacing-double,
  triple: $default-spacing-triple,
  half: $default-spacing-half,
  third: $default-spacing-third,
  fourth: $default-spacing-fourth,
  fifth: $default-spacing-fifth,
  sixth: $default-spacing-sixth,
  micro: $default-spacing-micro
}

// Borders =====================================================================

$border = {
  radius: $default-border-radius
}
