// Basic grid variables ========================================================

$grid = {
  max: {
    width: 1024px
  }
}

$screen = {
  xs: 480px,
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px
}

// Spacing, margins and padding ================================================
// - Base is 1.5rem, *not* 1rem.
// - I've added some aliases below for ease of use.

$spacing = {
  base: $default-spacing,

  ppppppp: $default-spacing-ppppppp,
  pppppp: $default-spacing-pppppp,
  ppppp: $default-spacing-ppppp
  pppp: $default-spacing-pppp,
  ppp: $default-spacing-ppp,
  pp: $default-spacing-pp,
  p: $default-spacing-p
  m: $default-spacing-m,
  mm: $default-spacing-mm,
  mmm: $default-spacing-mmm,
  mmmm: $default-spacing-mmmm,
  mmmmm: $default-spacing-mmmmm,

  eight: $default-spacing-ppppppp,
  seven: $default-spacing-pppppp,
  six: $default-spacing-ppppp,
  five: $default-spacing-pppp,
  four: $default-spacing-ppp,
  three: $default-spacing-pp,
  two: $default-spacing-p,
  one: $default-spacing-m,
  half: $default-spacing-mmm,
  quarter: $default-spacing-mmmm,
  sixth: $default-spacing-mm,
  micro: $default-spacing-mmmmm,
}

// Borders =====================================================================

$border = {
  radius: $default-border-radius
}
