// Default font styles =========================================================
// See `defaults.styl` for vertical rhythm and type defaults
// System font stack: https://bit.ly/2tsAPuz and https://bit.ly/2iji0TU
//  - Coding on a Mac, so 'San Francisco' font used

$font = {
  family: {
    base: $default-font-family,
    mono: $default-font-family-mono
  },
  size: {
    base: unit($default-font-size, 'rem'),

    pppppp: unit($default-font-size-pppppp, 'rem'),
    ppppp: unit($default-font-size-ppppp 'rem'),
    pppp: unit($default-font-size-pppp, 'rem'),
    ppp: unit($default-font-size-ppp, 'rem'),
    pp: unit($default-font-size-pp, 'rem'),
    p: unit($default-font-size-p, 'rem'),
    m: unit($default-font-size-m, 'rem'),
    mm: unit($default-font-size-mm, 'rem'),
  },
  tracking: {
    base: unit($default-tracking, 'rem'),

    pppppp: unit($default-tracking-pppppp, 'rem'),
    ppppp: unit($default-tracking-ppppp 'rem'),
    pppp: unit($default-tracking-pppp, 'rem'),
    ppp: unit($default-tracking-ppp, 'rem'),
    pp: unit($default-tracking-pp, 'rem'),
    p: unit($default-tracking-p, 'rem'),
    m: unit($default-tracking-m, 'rem'),
    mm: unit($default-tracking-mm, 'rem'),
  }
}

$line = {
  height: {
    base: $default-spacing

    eight: $default-spacing-ppppppp,
    seven: $default-spacing-pppppp,
    six: $default-spacing-ppppp,
    five: $default-spacing-pppp,
    four: $default-spacing-ppp,
    three: $default-spacing-pp,
    two: $default-spacing-p,
    one: $default-spacing-m,
    half: $default-spacing-mm,
    quarter: $default-spacing-mmm,
  }
}
