// Default font styles =========================================================
// See `defaults.styl` for vertical rhythm and type defaults

$arial = 'Arial', sans-serif
$monaco = 'Consolas', 'Monaco', 'Andale Mono', monospace

$font = {
  family: {
    base: $arial,
    mono: $monaco
  },
  size: {
    base: $default-font-size,

    pppppp: $default-font-size-pppppp,
    ppppp: $default-font-size-ppppp
    pppp: $default-font-size-pppp,
    ppp: $default-font-size-ppp,
    pp: $default-font-size-pp,
    p: $default-font-size-p,
    m: $default-font-size-m,
    mm: $default-font-size-mm
  }
}

$line = {
  height: {
    base: $default-line-height

    pppppp: $default-line-height-pppppp,
    ppppp: $default-line-height-ppppp,
    pppp: $default-line-height-pppp,
    ppp: $default-line-height-ppp,
    pp: $default-line-height-pp,
    p: $default-line-height-p,
    m: $default-line-height-m,
    mm: $default-line-height-mm,
  }
}
