// Notes =======================================================================
// #1: Ensure the <html> element's `height` is at least the viewport height.

html
  color: $color.bbbb
  font-family: $font.family.base
  font-size: $font.size.base
  line-height: $line.height.base
  background-color: $color.l


body
  min-height: 100% // #1


blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
summary,
table,
ul
  margin-bottom: $spacing.base

// Add word wrapping and basic hyphenation to common elements.

caption,
p,
table,
td,
textarea,
th
  word-wrap: break-word
  hyphens: auto
