blockquote
  font-style: normal
  padding: $spacing.base
  border: $spacing.px solid #000

  @media screen
    padding: 0 0 0 $spacing.base
    border-width: 0 0 0 $spacing.micro

  p
    margin: 0

    + p
      margin-top: $spacing.base

  cite
    font-style: normal
    font-size: $font.size.base
