blockquote
  color: $color.bbb
  font-family: $font.family.base
  font-style: normal
  margin-left: $spacing.base
  padding-left: $spacing.base
  border-left: ($spacing.quarter * 3) solid $color.b

  p
    margin: 0
    + p
      margin-top: $spacing.base

  // Use <cite> inside blockquotes.
  // - $link http://cbrac.co/18LWCOw

  cite
    font-family: $font.family.base
    font-style: normal
    font-size: $font.size.base
    color: $color.bb

    // Add an m-dash character before the <cite> tag.

    &:before
      content: "\2014 \0020"

    a
      color: $color.bb
