blockquote
  font-style: normal
  padding-left: $spacing.base
  border-left: #000

  p
    margin: 0

    + p
      margin-top: $spacing.base

  cite
    font-style: normal
    font-size: $font.size.base
