blockquote
  color: $color.bbb
  font-style: normal
  padding-left: $spacing.base
  border-left: $spacing.px solid $color.b

  p
    margin: 0
    + p
      margin-top: $spacing.base

  cite
    font-style: normal
    font-size: $font.size.base
    color: $color.bb

    a
      color: $color.bb
