// Notes =======================================================================
// #1: Correct `font-family` set oddly in Safari 5 and Chrome.
// #2: Possible issues with `white-space: pre` and baseline
//     - != `pre-line` or `pre-wrap` seem to work

code,
kbd,
pre,
samp
  font-family: $font.family.mono // #1
  font-size: $font.size.base
  font-style: normal
  line-height: $line.height.base

code,
kbd
  margin: 0
  padding: $spacing.quarter
  white-space: nowrap

  @media screen
    border-radius: $border.radius
    background-color: #f1f1f1



pre
  position: relative
  overflow: auto
  padding: $spacing.base
  white-space: pre-wrap
  word-wrap: normal
  word-break: normal
  tab-size: 4
  hyphens: none
  border: $spacing.px solid #000

  & + &
    border-top: transparent
    margin-top: -($spacing.base)

  @media screen
    white-space: pre
    background: #f1f1f1
    border-color: transparent

  code
    display: block
    overflow: auto
    height: 100%
    margin: 0
    padding: 0
    white-space: pre  // #2
    color: inherit
    border: none
    border-radius: 0
    background: transparent
