// #1 Correct `font-family` set oddly in Safari 5 and Chrome.

code,
kbd,
pre,
samp
  font-family: $mono // #1
  font-size: $font.size.m
  font-style: normal
  color: $root.text.color

code
  margin: 0
  padding: $spacing.quarter
  white-space: nowrap
  border-radius: $border.radius
  background-color: $color.b

kbd
  position: relative
  top: -1px
  margin-bottom: 1px
  padding: $spacing.quarter
  white-space: nowrap
  border-radius: $border.radius
  background-color: $color.b
  box-shadow: 0 1px 0 $color.bb, inset 0 0 0 1px #fff

pre
  position: relative
  overflow: auto
  padding: ($spacing.one + $spacing.micro)
  white-space: pre
  word-wrap: normal
  word-break: normal
  tab-size: 4
  hyphens: none
  color: $root.text.color
  background: $color.b

  // Reset the above <code> styles when nested inside <pre> tags.

  code
    display: block
    overflow: auto
    height: 100%
    margin: 0
    padding: 0
    white-space: pre
    color: inherit
    border: none
    border-radius: 0
    background: transparent
