// Headings ====================================================================
// - We shouldn't use !import, but we're globbing files.
// - If you're using ECSS this should be fine.

h1
  display-3($margin-bottom: ($spacing.two + $spacing.quarter))

h2
  display-2($margin-bottom: $spacing.base)

h3
  display-1($margin-bottom: $spacing.two)

h4
  headline($margin-bottom: $spacing.one)

h5
  title($margin-bottom: ($spacing.one + $spacing.micro))

h6
  subheading-2()
