h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading.font.family
  font-weight: $heading.font.weight
  color: $heading.text.color

h1
  font-size: $font.size.ppppp
  line-height: $line.height.ppppp

h2
  font-size: $font.size.pppp
  line-height: $line.height.pppp

h3
  font-size: $font.size.ppp
  line-height: $line.height.ppp

h4
  font-size: $font.size.pp
  line-height: $line.height.pp

h5
  font-size: $font.size.p
  line-height: $line.height.p

h6
  font-size: $font.size.base
