// Notes =======================================================================
// #1: Visually offset `alt` text
// #2: Remove gap: http://cbrac.co/Q6smqV

img
  font-style: italic  // #1
  vertical-align: middle  // #2

figure
  // pass

figcaption
  margin-top: $spacing.base
  font-size: $font.size.mm
  font-style: normal

  > img
    display: block
