// Notes =======================================================================
// Print styles extracted from HTML5-Boilerplate
// #1: Black prints faster
// #2: Don’t show links for images, or javascript/internal links
// #3: Tables - http://css-discuss.incutio.com/wiki/Printing_Tables

@media print
  *,
  *:before,
  *:after
    background: transparent !important
    color: #000 !important  // #1
    box-shadow: none !important
    text-shadow: none !important

  a,
  a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  // #2
  a[href^="#"]:after,
  a[href^="javascript:"]:after
    content: ""

  pre
    white-space: pre-wrap !important

  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid

  // #3
  thead
    display: table-header-group

  tr,
  img
    page-break-inside: avoid

  p,
  h2,
  h3
    orphans: 3
    widows: 3

  h2,
  h3
    page-break-after: avoid
