$btn = {
  padding: $default-spacing-half,
  border: {
    radius: $default-border-radius
  },
  font: {
    family: $default-font-family-sans-serif,
    weight: 700,
  },
  line: {
    height: $default-line-height-ratio
  },
  text: {
    color: $default-color-gray-darker
  },
  background: {
    color: $default-color-gray-light
  },

  primary: {
    text: {
      color: #fff
    },
    background: {
      color: $default-color-gray
    }
  }
}
