$root = {
  background: {
    color: #fff
  }
  text: {
    color: #000
  }
}

$anchor = {
  text: {
    color: blue
  }
}

$print = {
  text: {
    color: #000
  }
}

// Default colours =============================

$color = {
  gray: {
    darkest: $default-color-gray-darkest,
    darker: $default-color-gray-darker,
    dark: $default-color-gray-dark,
    base: $default-color-gray,
    light: $default-color-gray-light,
    lighter: $default-color-gray-lighter,
    lightest: $default-color-gray-lightest
  }
}

// Horizontal rules ============================

$hr = {
  border: {
    width: 2px,
    style: dotted,
    color: $default-color-gray
  }
}
