/*!
 * == Cardinal Stylus ==========================================================
 * MIT License | https://github.com/badlydrawnrob/cardinal-stylus
 * == Ported from Cardinal CSS: http://bit.ly/2iDzOZi ==========================
 */


@import '../stylus/modules/variables/*'


$green = #6bfda8
$green-dark = #07562c
$color['brand'] = {
  primary: $green,
  secondary: $green-dark
}

$btn.background.color = $color.brand.primary
$btn.primary.background.color = darken($color.brand.primary, 60%)


@import '../stylus/modules/mixins/*'
@import '../../node_modules/normalize.css/normalize.css'
@import '../stylus/partials/*'

/*!
 * == Jeet =====================================================================
 * Set up Jeet
 * =============================================================================
 */

@import "jeet"

$jeet = {
  gutter: 3
  'max-width': $grid.max.width
  'layout-direction': LTR
  'parent-first': false
}


/*!
 * == ECSS 101 =================================================================
 * Isolated, predictable and maintainable styles http://ecss.io/
 * `.nsp`       - A micro namespace can provide context
 * `-Component` - The name or the file or logic/file that creates this item
 * `_ChildNode` - Any child nodes are delineated with an underscore
 * `-variant`   - variant, modifier or state
 * =============================================================================
 */


// Page setup ==================================================================

.pg-Wrapper
  center()
  baseline-grid()

// Typography ==================================================================
// - Because of globbing source order in partials/* we have to reset here

h1
  margin-bottom: $spacing.p + $spacing.mmm

h2
  margin-bottom: $spacing.m + $spacing.mm

h3
  margin-bottom: $spacing.p

h4
  margin-bottom: $spacing.m

h5
  margin-bottom: $spacing.m + $spacing.mmm

h6
  margin-bottom: 0


.type-Wrapper
  clearfix()

.type-Group
  column(1/2, $cycle: 2)
  padding: $spacing.p + $spacing.mm

.type-Group-small
  font-size: $font.size.m
  line-height: $line.height.m

.type-Group-box
  background: alpha(#ccc, 50%)

.type-Group-align
  margin-top: $spacing.base - $spacing.m

.type-GroupHeading
  .type-Group-align &
    margin-bottom: $spacing.p

  .type-Group-align-two &
    margin-bottom: $spacing.base - $spacing.mmm
    padding-top: $spacing.mmm


// Components ==================================================================
// - Not strictly ECSS but does the job for now

.btn
  button()

.btn-primary
  button-primary()
