/*!
 * == ECSS 101 =================================================================
 * Isolated, predictable and maintainable styles http://ecss.io/
 * `.nsp`       - A micro namespace can provide context
 * `-Component` - The name or the file or logic/file that creates this item
 * `_ChildNode` - Any child nodes are delineated with an underscore
 * `-variant`   - variant, modifier or state
 * =============================================================================
 */

@import './ecss-config'
@import 'tests/buttons.styl'
@import 'tests/typography.styl'

// Page setup ==================================================================

.pg-Wrapper
  center()
  baseline-grid($spacing.base + $spacing.px)
