/*!
 * == Cardinal Stylus ==========================================================
 * MIT License | https://github.com/badlydrawnrob/cardinal-stylus
 * == Ported from Cardinal CSS: http://bit.ly/2iDzOZi ==========================
 */


@import '../stylus/modules/variables/*'
@import '../stylus/modules/mixins/*'
@import '../../node_modules/normalize.css/normalize.css'
@import '../stylus/partials/*'

/*!
 * == Jeet =====================================================================
 * Set up Jeet
 * =============================================================================
 */

@import "jeet"

$jeet = {
  gutter: 3
  'max-width': $grid.max.width
  'layout-direction': LTR
  'parent-first': false
}
