.type-Wrapper
  clearfix()

.type-Group
  column(1/2, $cycle: 2)
  padding: $spacing.base

.type-Group-small
  font-family: $font.family.base
  font-weight: normal
  font-size: $font.size.m
  color: $root.text.color
  line-height: $line.height.m
  text-transform: none
  letter-spacing: normal
  margin-bottom: 0

.type-Group-box
  background: alpha(#ccc, 50%)

.type-Group-align
  margin-top: $spacing.half

.type-GroupHeading
  .type-Group-align &
    margin-bottom: $spacing.base

  .type-Group-align-two &
    margin-bottom: $spacing.half
    padding-top: $spacing.quarter
