// =============================================
// Base: Mixins > Antialiasing
// =============================================
// != Is this good to use?

.antialiasing()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
