// =============================================
// Base: Buttons
// =============================================

$btn = {
  padding: $default-font-size $default-spacing-fourth,
  border: {
    radius: $default-border-radius-base
  },
  focus: {
    outline: {
      width: thin,
      style: dotted,
      color: $default-color-gray-darkest
    }
  },
  font: {
    family: $default-font-family-sans-serif,
    weight: 700,
  },
  line: {
    height: $default-line-height-ratio
  },
  text: {
    color: $default-color-gray-darker
  },
  background: {
    color: $default-color-gray-light
  },

  xs: {
    padding: $default-spacing-sixth $default-spacing-third,
    font: {
      size: $default-font-size-mmm
    }
  },

  sm: {
    padding: $default-spacing-fourth $default-font-size-mm,
    font: {
      size: $default-font-size-mm
    }
  },

  lg: {
    padding: $default-spacing-third $default-spacing-base,
    font: {
      size: $default-font-size-pp
    },

    group: {
      margin: 0 $default-spacing-sixth
    }
  },

  primary: {
    text: {
      color: $default-color-white
    },
    background: {
      color: $default-color-gray
    }
  }

  group: {
    margin: 0 $default-spacing-micro
  }
}
