// =============================================
// Base: Colours
// =============================================

$root = {
  background: {
    color: #fff
  }
  text: {
    color: #000
  }
}

$anchor = {
  text: {
    color: blue
  }
}

$print = {
  text: {
    color: $color.black
  }
}

// Default colours =============================

$color-black         = #000000;
$color-gray-darkest  = lighten($color-black, 13.5%);  // #222222
$color-gray-darker   = lighten($color-black, 26.5%);  // #444444
$color-gray-dark     = lighten($color-black, 46.7%);  // #777777
$color-gray          = lighten($color-black, 66.5%);  // #aaaaaa
$color-gray-light    = lighten($color-black, 87%);    // #dedede
$color-gray-lighter  = lighten($color-black, 93.75%); // #efefef
$color-gray-lightest = lighten($color-black, 97.25%); // #f8f8f8
$color-white         = #ffffff;

// Brand =======================================

$color-primary   = $color-green
$color-secondary = #06A2CB
$color-tertiary  = #000

// Other =======================================

$color-green = #92C96E

// Embedded content ============================

$figcaption-text-color = $color-gray-dark

// Buttons =====================================

$btn-focus-outline-width = thin
$btn-focus-outline-style = dotted
$btn-focus-outline-color = $color-gray-darkest

$btn-text-color = $color-gray-darker
$btn-background-color = $color-gray-light
$btn-primary-text-color = $color-white
$btn-primary-bg-color = $color-secondary

// Horizontal rules ============================

$hr-border-width = 2px
$hr-border-style = dotted
$hr-border-color = $color-gray
