// =============================================
// Base: Typography
// =============================================
// $font-size in _base.styl
// - Rem calculator: http://bit.ly/1NenGWL

$arial = 'Arial', sans-serif
$times = 'Times New Roman', serif
$monaco = unquote('Monaco', 'Consolas', 'Liberation Mono', Courier, monospace)

// Stylus is a little different to Less,
// using hashes for global settings: http://stylus-lang.com/docs/hashes.html
// - Access values: `$font.family.serif`
// - Change values: `$font.family.serif = 'Arial'`
//   - You may need to escape `\` or use `unquote()`

$font = {
  family: {
    serif: $arial,
    sans: $times,
    mono: $monaco
  }
  size: {
    pppp: 8rem,
    ppp: 3.6rem,
    pp: 2rem,
    p: 1.4rem,
    m: 0.875rem,
    mm: 0.75rem,
    mmm: 0.625rem
  }
}

// Text elements ===============================

$text = {
  del: {
    font: {
      style: italic,
      decoration: line-through,
      color: $color.gray.dark
    }
  },
  dt: {
    font: {
      weight: 700,
    },
    text: {
      color: $color.gray.darkest
    }
  }
  highlights: {
    bg: {
      color: #ff9
    },
    text: {
      color: $color.gray.darkest
    }
  }
}

// Headings ====================================

$font-size-h1 = 3.6rem
$font-size-h2 = 3rem
$font-size-h3 = 2.4rem
$font-size-h4 = 2rem
$font-size-h5 = 1.6rem
$font-size-h6 = 1.4rem

$heading-font-family = $font-family-sans-serif
$heading-font-weight = 700
$heading-text-color = #000
$blockquote-font-family = $font-family-serif

// Blockquotes =================================

$blockquote-font-family = $font-family-serif;
$blockquote-font-style = italic;
$blockquote-font-size = 1rem
$blockquote-text-color = $color-gray-dark;
$blockquote-margin-left = $spacing-base;
$blockquote-padding-left = $spacing-base;
$blockquote-border-width = $spacing-fourth;
$blockquote-border-style = solid;
$blockquote-border-color = $color-gray-light;
$blockquote-cite-font-family = $font-family-sans-serif;
$blockquote-cite-font-style = normal;
$blockquote-cite-font-size = 1rem
$blockquote-cite-text-color = $color-gray-dark;
$blockquote-cite-anchor-color = $color-gray-dark;

// Code =======================================

$code-font-size = 1rem
$code-font-style = normal
$code-text-color = $color-gray-darkest
$code-background-color = $color-gray-lightest
$code-border-width = 1px
$code-border-style = solid
$code-border-color = $color-gray-light
$code-border-radius = $border-radius-base
$code-padding = $spacing-micro $spacing-fourth
$code-pre-padding = $spacing-base
$code-pre-text-color = $color-gray-darker
$code-pre-background-color = $color-gray-lightest

// Buttons ====================================

$btn-font-family = $font-family-sans-serif;
$btn-font-weight = 700;
$btn-line-height = $line-height-ratio;
$btn-xs-font-size = $font-size-mmm;
$btn-sm-font-size = $font-size-mm;
$btn-lg-font-size = $font-size-pp;
